<header class="header">
  <h1 class="titulo">Reino <span class="titulo_pequeña">de dos</span> Quimbolitos</h1>

  <div class="nav-bg">
      <nav class="nav-principal contenedor">
          <ul>
              <li><a [routerLink]="['/inicio']"><span class="uno"><i class="icon icon-earth"></i></span>Inicio</a></li>
              <li><a [routerLink]="['/juegos']"><span class="dos"><i class="icon icon-cart"></i></span>Juegos</a></li>
              <li><a [routerLink]="['/preguntas']"><span class="tres"><i class="icon icon-wolfram"></i></span>Preguntas</a></li>
              <li><a href=""><span class="cuatro"><i class="icon icon-viber"></i></span>Nuestro Diario</a></li>
          </ul>
      </nav>
  </div>
</header>
